<form class="signin-form" [formGroup]="signinForm">
    <div class="crm-box">
        <div class="crm-box-inner">
            <h1>Sign-In</h1>
            <div class="p-grid p-fluid p-mt-2 p-ml-1">
                <div class="p-flex-row">
                    <div class="p-field p-col-12">
                        <span class="p-float-label">
                            <input pInputText type="text" formControlName="email" name="email"
                                   id="email" class="p-autocomplete"/>
                            <label for="email">Email*</label>
                        </span>
                        <div [hidden]="!f.email.hasError('email')"
                             style="color: red;">
                            Please enter a <b>valid</b> email address
                        </div>
                        <div [hidden]="!f.email.hasError('required') ||
                         signinForm.controls['email'].valid ||!signinForm.controls['email'].dirty"
                             style="color: red;">
                            Email is <b>required</b>
                        </div>
                    </div>
                </div>

                <div class="p-flex-row">
                    <div class="p-field p-col-12">
                       <span class="p-float-label">
                            <input pInputText type="password" formControlName="password" name="password"
                                   id="password" required/>
                            <label for="password">Password*</label>
                        </span>
                    </div>
                    <div [hidden]="signinForm.controls['password'].valid
                         || !signinForm.controls['password'].dirty">
                        <span style="color: red;">Password is required</span>
                    </div>
                </div>
                <a [routerLink]="['/auth','forgotpwd']">Forgot your password?</a>
                <div class="p-flex-row">
                    <button pButton (click)="login()" class="p-col-4 p-button-raised p-button-sm p-button-warning p-mt-2"
                            [disabled]="signinForm.invalid"><i class="pi pi-sign-in p-mr-2"></i>Continue
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>
<div class="p-mt-3 p-ml-2">New to?<a class="p-ml-2" [routerLink]="['/auth','signup']">Create your account</a></div>
